/* * {
  border: 1px black solid;
} */
.iframe-circle {
  left: 0%;
  bottom: 0%;
  padding: 0px;
  margin: 0 auto;
  overflow: hidden;
}
.box-image {
  /* border-radius: 40px; */
  background-image: url(https://i.scdn.co/image/012ecd119617ac24ab56620ace4b81735b172686);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: auto;
  padding-top: 50%;
}

.img-limit {
  max-width: 30px;
}

.box-relative {
  position: relative;
  height: 50px;
}

.box-relative>* {
  position: absolute;
}

.score {
  font-size: 1.5em;
  font-weight: 500;
  /* border-radius: 50%; */
  /* background: black; */
  padding: 20%;
  /* box-shadow: 3px 2px grey; */
  /* color: white; */
}

.range-style {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
}
/* Chrome Safari */
.range-style::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: #000;
  box-shadow: 3px 2px 2px gray;
  height: 30px;
  width: 20px;
  margin-top: -15px;
  border-radius: 20px;
  cursor: pointer;
}
/* Firefox */
.range-style::-moz-range-thumb {
  -webkit-appearance: none;
  background: #000;
  box-shadow: 3px 2px 2px gray;
  height: 30px;
  width: 20px;
  margin-top: -15px;
  border-radius: 20px;
  cursor: pointer;
}
.range-style::-webkit-slider-runnable-track {
  height: 4px;
  background: gray;
}
.label {
  height: 80px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.cursor {
  cursor: pointer;
}
